section#audio.audio
    .audio__banner
        .container
            h3.audio__title Audiokonference Polycom
            .audio__subtitle
                p Mimo videokonferencí je firma Polycom rovněž přední světový výrobce nabízející kvalitní audiokonferenční zařízení (konferenční telefon).

    .audio__wrapper
        .container
            p Rodina audiokonferenčních zařízení VoiceStation, SoundPoint a SoundStation byla navržena pro možnost přirozené konference s účastníkem (účastníky) v druhé místnosti, která se zpravidla nachází v jiné budově, jiném městě nebo dokonce i jiné zemi. Audiokonference Polycom se ovládá jako klasický telefon. Uživatel zadá volané číslo nebo vybere ze seznamu a naváže hovor, případně příchozí hovor přijme. Z hlediska maximálního komfortu nebo případného nadstandardu doporučeme použít audiokonferenční systém (konferenční telefon) Polycom na obou stranách.
            p Rodina zařízení Vortex je určena pro audiovýbavu prostorů, kde se konají školení, prezentace, semináře nebo menší kongresy a sympozia. Jednotlivé moduly lze navzájem propojit digitální interní sběrnicí, systém nabízí okruhy k jednotlivcům, připojení účastníka po analogové telefonní lince a zesilovač pro ozvučení sálu s posluchači. Některé moduly Vortex nabízí bližší integraci s videokonferenčními produkty Polycom, případně nadstandard při propojení s některými audiokonferenčními produkty Polycom.