section#internet.internet
    .container
        h3.internet__title Poskytování připojení k Internetu
        .internet__subtitle
            p
                | Společnost S.I.C. poskytuje bezdrátovou konektivitu, a to jak v oblasti domácího použití v níže uvedených oblastech tak zajištění komplexní profesionální
                br
                | konektivity pro firemní subjekty v rámci celé České republiky ve spolupráci s našimi partnery.

        .internet__title-types
            p
                | V lokalitách Vršovice a Vinohrady nabízíme (obvykle jako součást širších služeb) připojení k síti internet.
                br
                | Nejpoužívanější cenové tarify našeho připojení:

        h3.internet__price-title Bez limitu S.I.C. Wi-Fi

        .internet__wrapper
            .internet__wrapper--item
                img(src='img/dot_1.png')
                h3.speed 10/4
                span.speed-label Mbps
                span.line
                p.price 399
                span.price-currency czk

            .internet__wrapper--item
                img(src='img/dot_2.png')
                h3.speed 20/4
                span.speed-label Mbps
                span.line.yellow
                p.price 499
                span.price-currency czk

            .internet__wrapper--item
                img(src='img/dot_3.png')
                h3.speed 20/10
                span.speed-label Mbps
                span.line.green
                p.price 599
                span.price-currency czk

            .internet__wrapper--item
                img(src='img/dot_4.png')
                h3.speed 30/10
                span.speed-label Mbps
                span.line.blue
                p.price 699
                span.price-currency czk

        .internet__not
            p Připojení je realizováno formou bezdrátového přenosu, odpadá tudíž složité a nepříjemné tahání kabelových rozvodů po Vašem bytě. Pokud nemáte zařízení pro tuto technologii, rádi Vám jej poskytneme a to buď  formou pronájmu nebo přímým prodejem do Vašeho vlastnictví. Pokud máte zájem o nižší, nebo naopak vyšší rychlost připojení, rádi Vám vyjdeme vstříc. Kromě datových služeb vám můžeme nabídnout i hlasové služby, bližší informace vám rádi poskytneme na požádání