section#it-solutions.it-sol
    .container
        h3.it-sol__title IT řešení
        p.it-sol__subtitle
            | Ke každému zákazníkovi přistupujeme jedinečně a reflektujeme do implementace a správy ICT
            br
            | jeho veškeré potřeby a individuální požadavky, a to ať už jste malá, střední, nebo velká společnost.

        h3.it-sol__title-types Komplexní ICT řešení může zahrnovat

        .it-sol__wrapper

            .it-sol__wrapper--item
                .it-sol__wrapper--img
                    img(src='img/it_1.png')
                .it-sol__wrapper--shadow
                p.it-sol__wrapper--descr
                    | Návrh, instalaci a
                    br
                    | konfiguraci
                    br
                    | datových sítí a
                    br
                    | serverých řešení

            .it-sol__wrapper--item
                .it-sol__wrapper--img
                    img(src='img/it_2.png')
                .it-sol__wrapper--shadow
                p.it-sol__wrapper--descr
                    | Hardware i
                    br
                    | software takřka
                    br
                    | všech výrobců

            .it-sol__wrapper--item
                .it-sol__wrapper--img
                    img(src='img/it_3.png')
                .it-sol__wrapper--shadow
                p.it-sol__wrapper--descr
                    | Vývoj individuálních
                    br
                    | SW řešení a
                    br
                    | aplikací

            .it-sol__wrapper--item
                .it-sol__wrapper--img
                    img(src='img/it_4.png')
                .it-sol__wrapper--shadow
                p.it-sol__wrapper--descr
                    | Implementace a
                    br
                    | upgrady produktů a
                    br
                    | softwarových
                    br
                    | řešení

            .it-sol__wrapper--item
                .it-sol__wrapper--img
                    img(src='img/it_5.png')
                .it-sol__wrapper--shadow
                p.it-sol__wrapper--descr
                    | Odborná
                    br
                    | uživatelská podpora

            .it-sol__wrapper--item
                .it-sol__wrapper--img
                    img(src='img/it_6.png')
                .it-sol__wrapper--shadow
                p.it-sol__wrapper--descr
                    | IT audity a
                    br
                    | konzultace

            .it-sol__wrapper--item
                .it-sol__wrapper--img
                    img(src='img/it_7.png')
                .it-sol__wrapper--shadow
                p.it-sol__wrapper--descr
                    | Správa
                    br
                    | počítačových sítí a
                    br
                    | serverů