section.top-banner

    .top-banner__title-box
        h1.top-banner__title S.I.C.
            span spol. s.r.o.

        p.top-banner__subtitle Profesionální videokonferenční a audiokonferenční systémy
