section#video.video
    .video__banner
        h3 Videokonference Polycom
        p
            | Videokonferenční systémy představují jediný nástroj pro spolupráci na
            br
            | dálku, jenž poskytuje stejné možnosti jako má jednání tváří v tvář.

    .video__box
        .container
            .video__not
                p Videokonference je v současné době již běžný a pravidelně používaný operativní a moderní způsob komunikace, který se stále častěji využívá v řadě oborů. Při videokonferenčním spojení se přenáší nejen obraz (video) a zvuk (audio), ale účastníci si během přenosu mohou vyměňovat také data (Content).

            ul.video__tabs
                li
                    a(href='#v_1').video__tabs--active
                        | Proč
                        br
                        | videokonference?
                li
                    a(href='#v_2')
                        | Hlavní výhody
                        br
                        | videokonference
                li
                    a(href='#v_3')
                        | Proč se videokonference
                        br
                        | vyplatí
                li
                    a(href='#v_4')
                        | Jak dělíme
                        br
                        | videokonf. zařízení
                li
                    a(href='#v_5')
                        | Personální
                        br
                        | systémy
                li
                    a(href='#v_6')
                        | Kompaktní
                        br
                        | systémy
                li
                    a(href='#v_7')
                        | Skupinové
                        br
                        | systémy
                li
                    a(href='#v_8')
                        | Síťové
                        br
                        | videokonf. prvky
                li
                    a(href='#v_9')
                        | Přídavné
                        br
                        | periferie
                li
                    a(href='#v_10')
                        | Jak videokonf.
                        br
                        | funguje

            .video__tabs-wrapper

                #v_1.video__tabs-wrapper--box

                    .video__tabs-wrapper--item

                        h3 Proč videokonference?

                        p Videokonference se uplatňují při poradách managementu podniků, státních organizací i ozbrojených složek. Jednání s obchodním partnery, prezentace výrobku na dálku, komunikace mezi pobočkami. Obohacují odborné semináře a kurzy, firemní školení i výuku na školách. Pravidelně se užívají v medicíně, výzkumu i projekční činnosti. Uplatnit se mohou při marketinkových, propagačních i kulturních akcích, při kontrolní činnosti. Ihned a živě se můžete bavit s kýmkoli na druhém konci světa, aniž musíte cestovat. Videokonference se dokonce osvědčily i v soudní praxi.
                        p Videokonferenční zařízení lze rozdělit podle množství aktivních účastníků (mluvčích). V nejjednodušší variantě využijí tuto technologii dvě osoby, které místo klasického telefonního přístroje použijí videotelefon. Dalších zařízení, která propojí do videokonference podstatně větší počet účastníků a připojovacích bodů, existuje široká škála. Do videokonference se dnes mohou zapojit i stovky lidí, které budou sledovat technicky vysoce kvalitní přenos například v sálech na promítacím plátně nebo velkoplošném projektoru.

                #v_2.video__tabs-wrapper--box

                    .video__tabs-wrapper--item

                        h3 Hlavní výhody videokonference

                        ul
                            li úspora nákladů (časových i finančních)
                            li snížení skrytých nákladů
                            li živá komunikace ("z očí do očí")
                            li rychlejší, kvalitnější a efektivnější řízení
                            li zvýšení konkurenceschopnosti
                            li větší operativnost

                #v_3.video__tabs-wrapper--box

                    .video__tabs-wrapper--item

                        h3 Proč se videokonference vyplatí

                        p Pořizovací a provozní náklady jsou u většiny videokonferenčních systémů vyšší. Vstupní investice do zařízení se rychle vrací v úspoře průběžných nákladů za cestování, dopravu a další spojené s organizací. V podstatě vždy vyplatí. Jednorázové pořizovací náklady lze navíc převést na náklady postupné například formou pronájmu nebo leasingu videokonferenčního systému.
                        ul
                            li Doba návratnosti investice do videokonferenčního systému může být mezi 6 až 7 měsíci
                            li Nadpoloviční většina uživatelů uvádí jako hlavní přínos úsporu cestovních nákladů
                            li Pro práci top managementu firmy je efektivnější komunikace a úspora času ještě mnohem důležitější než vlastní finanční částky ušetřené za cestovní náklady
                            li Společnosti využívající videokonference urychlí svůj vývoj a mnohdy tak předběhnou konkurenci

                #v_4.video__tabs-wrapper--box

                    .video__tabs-wrapper--item

                        h3 Jak dělíme videokonferenční zařízení

                        ul
                            li Podle provedení a určení - personální, kompaktní a skupinové
                            li Podle přenosového media a protokolu - H.320 systémy (typicky ISDN2), H.323 systémy nebo SIP systémy (typicky LAN/WAN) a kombinované H.320/H.323 systémy
                            li Podle povahy hardware - samostatné uzavřené zařízení pouze pro videokonferenční účely nebo otevřené zařízení (založené na PC nebo software pro PC), kde videokonference je pouze aplikací
                            li Podle provedení a kvality obrazu a zvuku - Standard Definition (SD) a High Definition (HD)


                        p Nedílnou součástí oblasti videokonferenčních zařízení jsou také přídavné periferie a síťové prvky.

                #v_5.video__tabs-wrapper--box

                    .video__tabs-wrapper--item

                        h3 Personální systémy

                        p Personální systémy používá pro videokonferenci jeden, vyjímečně několik málo aktivních účastníků. Jedná se buď o digitální videotelefon, software do PC, speciální kartu do PC - tzv. desktopové videokonferenční systémy nebo malá videokonferenční zařízení pro připojení přes USB.
                        p Desktopové systémy a zařízení přes USB jsou vybaveny jednoduchou kamerou. Jako zobrazovací zařízení slouží vlastní monitor počítače a zvuk je snímán a reprodukován pomocí mikrofonu a reproduktorů zvukové karty PC, speciálního hlasitého telefonního přístroje, případně náhlavní soupravy. Připojení doplňkových periferií bývá omezeno na maximálně jeden přídavný video vstup. Osobní počítač dovoluje snadnou integraci se softwarovým vybavením pro sdílení dat. Software umožňuje například otevření stejného dokumetu všem příslušně vybaveným účastníkům a uspořádat tak videokonferenci pro práci nad tímto dokumentem.

                #v_6.video__tabs-wrapper--box

                    .video__tabs-wrapper--item

                        h3 Kompaktní systémy

                        p V případě kompaktního systému se videokonference odehrává v malé až střední místnosti.
                        p Systém je tvořen základní jednotkou, ve které je integrována kamera s mikrofonem. Jako zobrazovací zařízení slouží běžný televizor (připojení pomocí AV vstupu) nebo PAL nebo XGA monitor. Ke kompaktnímu zařízení lze připojit a používat několik externích periferií, většinou dokumentovou kameru a DVD rekordér. Pro připojení různých typů elektronických tabulí nebo počítače bývá k dispozici datový vstup.
                        p Kompaktní systémy se snadněji přemisťují a rychleji instalují. Některé bývají baleny do praktického kufříku.

                #v_7.video__tabs-wrapper--box

                    .video__tabs-wrapper--item

                        h3 Skupinové systémy

                        p Skupinové systémy se používají pro videokonference ve střední až velké místnosti nebo v sále.
                        p Skupinové systémy tvoří základní jednotka, která zajišťuje zpracování obrazu, zvuku a dat a řízení systému. K zažízení je možné připojit i několik PTZ kamer s kvalitou S-video a možností elektromechanického řízení pohybu. Mikrofon bývá stolní a pro rozsáhlejší prostor je možné mikrofony zapojovat do kaskády. Jako výstupní jednotka se podle provedení používá buď běžný televizor (připojení pomocí AV vstupu) nebo XGA monitor. Pro větší prostor lze zobrazovat na projektor, velký displej a ozvučovat na aparaturu.
                        p Skupinové systémy jsou vybaveny i více externími videovstupy, oddělenými výstupy pro DVD rekordér a současně zobrazují lokální, vzdálený i statický obraz. Datových vstupů, využitelných stejným způsobem jako u kompaktních systémů, rovněž je více.

                #v_8.video__tabs-wrapper--box

                    .video__tabs-wrapper--item

                        h3 Síťové videokonferenční prvky

                        p Síťové videokonferenční prvky rozšiřují komunikační možnosti jednotlivých videokonferenčních zařízení. Videokonferenční servery (nazývané též multipoint servery, MCU) slouží k vytvoření videokonferenčního spojení tří a více stran. Zajišťují zpracování a vzájemnou distribuci zvukového, obrazového a případně i datového signálu mezi jednotlivými zúčastněnými stranami. Transkódují signál mezi jednotlivými protokoly a mohou současně sloužit i jako videokonferenční brána mezi rozdílnými komunikačními prostředími.
                        p Řízení takové videokonference lze konfigurovat od nejjednoduššího přepínání hlasem (tzv. voice activated) až po konferenci řízenou moderátorem. Sofistikovanější řízení musí být podporováno připojenými videokonferenčními zařízeními. Videokonferenční brány převádí signál mezi jednotlivými přenosovými médii (ISDN, LAN/WAN, ATM).

                #v_9.video__tabs-wrapper--box

                    .video__tabs-wrapper--item

                        h3 Přídavné periferie

                        p Přídavné periferie rozšiřují vstupní a výstupní možnosti jednotlivých videokonferenčních systémů:
                        ul
                            li Obraz (video): přídavná kamera, přídavná PTZ kamera, dokumentová kamera, DVD rekordér, monitor, projektor
                            li Zvuk (audio): externí zvuková aparatura
                            li Data (Content): sdílení souborů a aplikací, elektronická a interaktivní tabule

                #v_10.video__tabs-wrapper--box

                    .video__tabs-wrapper--item

                        h3 Jak videokonference funguje

                        p Pro přenos zvuku, obrazu a dat přes videokonferenci je nutné zajistit přenosové medium. Videokonferenční zařízení používají protokol TCP/IP (např. LAN, WAN, ATM, Frame Relay). Zde je kompatibilita jednotlivých videokonferenčních systémů zaručena mezinárodním protokolem H.323 nebo SIP. Vhodnou aplikací jsou vysokokapacitní sítě v rámci společnosti, případně vyhrazená linka od providera. Videokonference přes TCP/IP vždy vyžaduje zajištění QoS, nejlépe separátní vyhrazené pásmo. Protože na WAN sítích zajištění Quality of service není možné po celou přenosovou cestu, přenosy po Internetu se nedoporučují.
                        p Audio a video spojení mezi jednotlivými videokonferenčními systémy je možné navázat jako point-to-point (bod-bod) nebo jako point-to-multipoint (vícebodé spojení). Point-to-point spojení se uskutečňuje pomocí vlastních videokonferenčních zařízení navzájem, multipoint spojení potom pomocí videokonferenčních serverů (MCU), které se vyrábí různého technického provedení podle přenosového prostředí, v kterém jsou provozovány. Vzájemné propojení dvou rozdílných platforem lze zajistit pomocí videokonferenčních síťových prvků. Spojení například ze sítě ISDN do LAN/WAN a obráceně je tedy možné navazovat za pomoci videokonferenčního serveru anebo videokonferenční gatewaye.
