doctype html
html
    head(lang='en')
        include ../elements/html_open

    body
        include ../mixins/mixins
        include ../elements/header
        include ../elements/top-banner
        include ../elements/profile
        include ../elements/cloud
        include ../elements/it-solutions
        include ../elements/internet
        include ../elements/video
        include ../elements/audio
        include ../elements/contacts
        include ../elements/footer
        include ../elements/html_close